h1 {
    font-size: 3rem;
    /* Smaller font size */
    animation: ticker 10s linear infinite;
    /* Slower animation */
}

section p {
    font-size: 1rem;
    /* Smaller font size */
    padding: 0 2%;
}

section form {
    padding: 8px 2%;
}

nav ul {
    font-size: 0.6rem;
}

.iframe-container {
    display: none;
}

@keyframes ticker {
    0% {
        transform: translateX(200vw);
    }

    100% {
        transform: translateX(-200vw);
    }
}