/* Body Styles */
body {
    background-color: lightgray;
    font-family: 'Roboto Slab', monospace, serif;
    color: #61cb75;
    font-size: 1em;
    line-height: 1.5;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* Header Styles */
header {
    align-items: center;
    background-image: url('earth.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    color: #e4e400;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Main Styles */
main {
    background-color: lightgray;
}

/* Section Styles */
section {
    height: 100vh;
    padding: 0;
    margin: 0;

}

section p, section h2 {
    margin-top: 0;
}

#section1 {
    background-color: #2b302f;
}

#section2 {
    background-color: #1a211f;
}

#section3 {
    background-color: #000200;
}

#section4 {
    background-color: #131a16;
}

#section5 {
    background-color: white;
}

/* h1 Styles */
h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    color: #e4e400;
    white-space: nowrap;
    /* Prevent text from wrapping to next line */
    animation: ticker 10s linear infinite;
    /* Apply the animation */
}

/* h2 Styles */
h2 {
    font-size: 3em;
    margin: 0;
    padding: 0.5em 0;
    color: #e4e400;
    white-space: nowrap;
    /* Prevent text from wrapping to next line */
    animation: bounce 10s linear infinite;
    /* Apply the animation */
}

h3 {
    font-size: 2em;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    color: #e4e400;
}

p {
    font-size: 1.5em;
    margin: 0;
    padding: 0 5%;

}

/* Navigation Styles */
nav {
    background-color: rgb(112, 186, 243);
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover {
    color: #e4e400;
}


nav ul {
    display: flex;
    list-style: none;
    background-color: magenta;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav ul li {
    background-color: cyan;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
}

nav ul li a {
    background-color: #143cc4;
    color: white;
    width: 100%;
}



/* Top Navigation Styles */

:root {
    --top-margin: 90vh;
}

nav.top {
    position: sticky;
    margin-top: var(--top-margin);
    height: calc(100vh - var(--top-margin));
    top: 0;
    z-index: 1;
}



nav.top ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* Footer Navigation Styles */

nav.footer {

    height: 10vh;

}

nav.footer ul li a {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

nav.footer ul li {
    background-color: cyan;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* iFrame Styles */
:root {
    --iframe-width: 50%; /* Adjust this to suit your needs */
}


.iframe-container {
    position: relative;
    width: var(--iframe-width);
    padding-bottom: calc(var(--iframe-width) * 0.75); /* 4:3 Aspect Ratio */
    height: 0;
    height: 0;
    margin: 0 auto; /* Center the iframe */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#form-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 0;
    padding: 0 5%;
    border-radius: 5px;
}

form label {
    text-align: left;
}

input.form_field {
    width: 100%;
    box-sizing: border-box;
    font-size: 2em;
    padding: 0.3em;
    margin-bottom: 10px;
}

textarea.form_field {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6em;
    margin-bottom: 10px;
    resize: none;
    height: 20vh;
}

div.name_box {
    width: 49%;
}

div.flex_box {
    display: flex;
    justify-content: space-between;
}

input.postman {
    box-sizing: border-box;
    align-self: center;
    width: 40%;
    font-size: 2em;
    padding: 0.3em;
    margin-top: 20px;
}

/* Animations */
@keyframes ticker {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(90%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    body {
        margin: 0;

        scroll-behavior: smooth;
        scroll-padding: 0;
        /* nicht nötig */
    }

    section {
        height: 100vh;
        scroll-snap-align: start;
        scroll-margin: 0;
        /* nicht nötig */
    }
}